/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: black;
	--color-background:#ffffff;
	
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

html, body {
	margin: 0;
	padding: 0;
	background-color:var(--color-background);
	scroll-behavior: smooth;
}

p {
	color: var(--color-text);
}


/*header*/
header {
	position: sticky;
	top: -4.3em;
	z-index: 20;
}

header div {
	padding-top: 1em;
	background-color: #151415;
	font-size: .8rem;
	text-align: center;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	padding-bottom: 1em;
}

header div p {
	color: white;
	font-size: .8rem;
	margin-top: 0;
}



header img {
	height: 2em;
	
}

/*header icoontjes*/
header > ul:first-of-type li svg {
    width: 2em;
    height: 2em;
    display: block;
	color: black;
}

header > ul:first-of-type {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	background: white;
	z-index: 10;
	list-style: none;
	padding: 0;
	padding-top: 0.3em;
	
}

header > ul:first-of-type li:first-of-type { grid-column: 1; }
header > ul:first-of-type li:nth-of-type(2) { grid-column: 2; }
header > ul:first-of-type li:nth-of-type(3) { grid-column: 4; }
header > ul:first-of-type li:nth-of-type(4) { grid-column: 6; }
header > ul:first-of-type li:nth-of-type(5) { grid-column: 7; }



header > ul:first-of-type li:first-of-type button {
	border: none;
	background-color: white;
	padding-right: 0;
}

header > ul:first-of-type li:first-of-type button svg {
	width: 2.3em;
    height: 2.5em;
}

header > ul:first-of-type li:nth-of-type(2) a svg {
	width: 1.8em;
    height: 1.8em;
	margin-top: 0.2em;
}


header > ul:first-of-type li:nth-of-type(3) a img {
	width: 3em;
    height: 3em;
	padding-bottom: 1em;
}

header > ul:first-of-type li:nth-of-type(4) button {
	border: none;
	background-color: white;
}

header > ul:first-of-type li:nth-of-type(4) button svg {
	width: 1.8em;
    height: 1.8em;
}

header > ul:first-of-type li:nth-of-type(5) a svg {
	width: 1.8em;
    height: 1.8em;
}

header > ul:first-of-type li:nth-of-type(5) a {
	position:relative;
}

/*animatie +1 bij winkelwagen*/
header > ul:first-of-type li:nth-of-type(5) a span {
	position:absolute;
  	right: 1em;
  	top: 0;
  	min-width: 1.5em;
  	padding: 0.2em;
  	background-color:crimson;
  	border-radius: 1em;
  	font-size: 0.7em;
  	text-align: center;
  	line-height: 1.2em;
  	color:white;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

header > ul:first-of-type li:nth-of-type(5) a span.updated {
	animation-name: updated;
  	animation-duration: .2s;
  	animation-iteration-count: 1;
}

@keyframes updated {
  0% {
    scale:1;
  }
  50% {
    scale:1.5;
  }
  100% {
    scale:1;
  }
}


/*hamburgermenu*/
header nav {
	position:fixed;
  	top:0;
  	bottom:0;
  	right:0;
  	left:0;
  	background-color: white;
  	translate:-100% 0%;
	transform: translateY(-100%); 
  	transition: transform 0.3s ease;
	z-index: 99;
	overflow-y: auto;
	
}

header nav ul {
	border-top: 1px solid #c7cacd;
	margin-top: 1em;
}

header nav li {
	margin-top: 1.2em;
}

header nav ul:first-of-type li::after {
	content: "";
	width: 0.7em;
	height: 0.7em;
	border-top: 1.5px solid black;
	border-right: 1.5px solid black;
	transform: rotate(45deg); 
	float: right;
	margin-top: -1em;
	pointer-events: none;
}

header nav ul:nth-of-type(3) li::after {
	content: "";
	width: 0.7em;
	height: 0.7em;
	border-top: 1.5px solid black;
	border-right: 1.5px solid black;
	transform: rotate(45deg); 
	float: right;
	margin-top: -1em;
	pointer-events: none;
}


header nav ul a {
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	display: block;
}

nav.toonMenu {
	translate: 0% 0%;
	transform: translateY(0); 
}

header nav > button:first-of-type {
	border: none;
	background-color: #efefef;
	margin-right: 2em;
	margin-top: 1.5em;
	border-radius: 0.3em;
	padding: 0.3em 0.3em;
	
}

header nav > button:first-of-type svg {
	width: 1.6em;
    height: 1.6em;
	
}


/*hamburgersubmenu*/
nav ul:nth-of-type(3) {
	position:fixed;
  	top:0;
  	bottom:0;
  	right:0;
  	left:0;
  	background-color: white;
	translate:-100% 0%;
	transition: transform 0.3s ease;
	margin-top: 2.8em;
	overflow-y: auto;
}

nav ul:nth-of-type(3).toonSubMenu {
	translate: 0% 0%;
	display: block;
}

header nav button {
	float: right;
}

header nav ul {
	list-style: none;
	padding: 0;
	margin-left: 1em;
	
}

header nav ul:nth-of-type(3) {
	margin-top: 4.25em;
	
}

header nav li {
	max-width: 95%;
    border: 1px solid #c7cacd;
	border-radius: 0.3em;
	padding: 1em;
	margin-left: 0;
	
}

header nav a:first-of-type img {
	margin-top: 1em;
	max-width: 3.5em;
	margin-left: 1em;
}

header nav li a {
	font-size: 1.5em;
	text-decoration: none;
	font-size: 1rem;
	color: black;
}

header nav button:nth-of-type(2) {
	display: none;
  	
}

header nav h2:first-of-type {
	display: none;
  	
}

/*hamburgersubmenu2*/
header nav ul:nth-of-type(4) {
	position:fixed;
  	top:0;
  	bottom:0;
  	right:0;
  	left:0;
  	background-color: white;
	translate:-100% 0%;
	transition: transform 0.3s ease;
	margin-top: 4.25em;
	overflow-y: auto;
}

header nav ul:nth-of-type(4).toonSubMenu2 {
	translate: 0% 0%;
}

/*Linkjes + icoontjes hamburgermenu*/
header nav ul:nth-of-type(2) {
	border: none;
	margin-left: 1em;
}

header nav ul:nth-of-type(2) svg {
	max-width: 1em;
	margin-right: 0.5em;
	
}

header nav ul:nth-of-type(2) li {
	border: none !important;
	margin: 0;
	padding: 0.5em;
	display: flex;

}

header nav ul:nth-of-type(2) li:nth-of-type(5) p {
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	margin: 0;
	margin-right: 0.4em;
}

header nav ul:nth-of-type(2) li:nth-of-type(5) a {
	text-decoration: underline;
	font-weight: bolder;
}


/*main navigatie*/
main nav ul {
	display: flex;
    gap:0.5em;
	list-style: none;
	padding: 0;
	margin: 1em;
	overflow:auto;
  	scroll-behavior:smooth;
  	white-space: nowrap;
  	height: 2.5em;
  	scrollbar-width:auto;
  	scrollbar-color:#ccc #fff;
	margin-bottom: 1em;
	margin-top: -0.8em;
}



main nav a {
	text-decoration: none;
	border: .125rem solid #f2f2f3;
	background-color: #f2f2f3;
	padding: 0.30em 1em;
	gap:2em;
	color: black;
	border-radius: 4px;
	text-align: center;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-size: 0.9em;
	font-weight: 100;
}

/*chatbot*/

main > button:first-of-type {
	border: none;
	position:fixed;
	background-color: #cf0a2c;
	border-radius: 3.5em;
	right: 1.25rem;
	bottom: .625rem;
	z-index: 10;
	color:white;
	padding: 1.3em;
	display: flex;
	justify-content: center;
	align-items: center;
}

main section:first-of-type > button:first-of-type {
	border: none;
	position:fixed;
	background-color: #cf0a2c;
	border-radius: 3.5em;
	right: 1.25rem;
	bottom: .625rem;
	z-index: 99;
	color:white;
	padding: 1.3em;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*chatbot uitklappen*/
main dialog {
	position:fixed;
	bottom: 0;
	z-index:999;
	border: 1px solid rgb(146, 145, 145);
	border-radius: 1.25rem 1.25rem 0 0;
	background:rgb(220, 220, 220);
	transition:  
	display .15s allow-discrete,
    overlay .15s allow-discrete,
    transform .3s ease-out;  
  	transform: translateY(100%);
	filter: drop-shadow(2.5px 2.5px 8px rgba(0, 0, 0, .3))
}

main dialog[open] {
	 transform: translateY(0);
}

@starting-style {
  main dialog[open] {
    transform: translateY(100%); 
  }
}



.productpagina section:first-of-type dialog form h2 {
	border-bottom: 1px solid rgb(90, 89, 89);
	color: black;
	font-size: 1.5em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	margin-right: 0.6em;
}

dialog form h2 {
	border-bottom: 1px solid rgb(90, 89, 89);
	color: black;
	font-size: 1.5em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	margin-right: 0.6em;
}

.productpagina section:first-of-type dialog form {
	position: relative;
	
}

dialog form {
	position: relative;
	
}

.productpagina section:first-of-type dialog form button:first-of-type {
	text-decoration: none;
	color: #5e5d5d;
	font-size: 1.5em;
	top: 0em;
	right: 0.5em;
	position: absolute;
}

dialog form button:first-of-type {
	text-decoration: none;
	color: #5e5d5d;
	font-size: 1.5em;
	top: 0em;
	right: 0.5em;
	position: absolute;
}

.productpagina section:first-of-type dialog form a {
	margin-bottom: 1em ;
	background-color: rgb(220, 220, 220);
	color: black ;
	border: 1px solid #6f6e6e ;
	text-align: left;
	padding: 0.7em;
	border-radius: 0;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	border-radius: 0.25em;
}

dialog form a {
	margin-bottom: 1em ;
	background-color: rgb(220, 220, 220);
	color: black ;
	border: 1px solid #6f6e6e ;
	text-align: left;
	padding: 0.7em;
	border-radius: 0;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	border-radius: 0.25em;
}


.productpagina section:first-of-type dialog form a:nth-of-type(3) {
	text-decoration: none;
	padding: 0.7em;
	font-weight: bold;
	font-size: 1em;
	margin-left: 1em;
	background-color: rgb(220, 220, 220);
	color: black ;
	border: 1px solid #6f6e6e ;
}

dialog form a:nth-of-type(3) {
	text-decoration: none;
	padding: 0.7em;
	font-weight: bold;
	font-size: 1em;
	margin-left: 1em;
	background-color: rgb(220, 220, 220);
	color: black ;
	border: 1px solid #6f6e6e ;
}

.productpagina section:first-of-type dialog form button:nth-of-type(2) {
	margin-top: 1em;
	background-color: #cf0a2c;
	color: white;
	text-decoration: none;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bold;
	display: block;
	width: 100%;
	border-radius: 0.25em;
	margin-bottom: 1em;
	padding: 0.9em 1.5em;
	font-size: 1em;
	position: relative;
}

dialog form button:nth-of-type(2) {
	margin-top: 1em;
	background-color: #cf0a2c;
	color: white;
	text-decoration: none;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bold;
	display: block;
	width: 100%;
	border-radius: 0.25em;
	margin-bottom: 1em;
	padding: 0.9em 1.5em;
	font-size: 1em;
	position: relative;
}

.productpagina section:first-of-type dialog form a::after {
	content: "";
	width: 0.7em;
	height: 0.7em;
	border-top: 1.5px solid black;
	border-right: 1.5px solid black;
	transform: rotate(45deg); 
	float: right;
	margin-top: 0.4em;
	pointer-events: none;
}

dialog form a::after {
	content: "";
	width: 0.7em;
	height: 0.7em;
	border-top: 1.5px solid black;
	border-right: 1.5px solid black;
	transform: rotate(45deg); 
	float: right;
	margin-top: 0.4em;
	pointer-events: none;
}


.productpagina section:first-of-type dialog form button:nth-of-type(2) svg {
	position: absolute;
	left: 30%;
	top: 1em;
}

dialog form button:nth-of-type(2) svg {
	position: absolute;
	left: 30%;
	top: 1em;
}

/*section 1*/
main section:first-of-type img {
	max-width: 100%;
}

h1 {
	font-size: 3.2rem;
	font-family: " ITC Garamond W01";
	margin-left: 0.3em;
	font-weight: 200;
	margin-bottom: 1.5rem ;
	margin-top: 1.5rem ;
}

main section:first-of-type p {
	margin-left: 1em;
	font-size: 0.95em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	margin-top: 0;
}

main section:first-of-type a {
	text-decoration: none;
	color: white;
	border: 1px solid;
	background-color: #cf0a2c;
	display: inline-block;
	border-radius: .25rem;
	padding:1em;
	width: 90%;
	text-align: center;
	margin-left: 1em;
	margin-bottom: 3em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bold;
}


/*section 2: Best Sellers - eerste ul*/
main section:nth-of-type(2) h2:first-of-type {
	font-size: 1.5rem;
	margin-left: 0.7em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: 900;
}

main section:nth-of-type(2) ul:first-of-type {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:0.3em;
	list-style: none;
	margin-bottom: 4em;
	padding: 0;
	margin-left: 1em;
	margin-right: 0.7em;
}

main section:nth-of-type(2) ul:first-of-type li {
	margin-bottom: 2em;
}

main section:nth-of-type(2) a{
	color: black;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bolder;
	font-size: 0.9em;

}

main section:nth-of-type(2) > ul:first-of-type img {
	max-width: 97%;
	padding-bottom: .5rem;
}


/*section 2 tweede ul*/
main section:nth-of-type(2) ul:nth-of-type(2) {
	display: flex;
	max-width: 100%;
	gap:0.8em;
	padding: 0;
	margin-left: 1em;
	margin-bottom: 4em;
  	overflow:auto;
  	scrollbar-width: none;
}

main section:nth-of-type(2) ul:nth-of-type(2) li {
    max-width: 100%;
	list-style: none;
}

main section:nth-of-type(2) ul:nth-of-type(2) img {
	width: 11em;
	height: 16.5em;
}



/*section 3: Nieuw*/
main section:nth-of-type(3) h2:first-of-type {
	font-size: 1.2em;
	margin-left: 0.7em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

main section:nth-of-type(3) ul:first-of-type {
	display: flex;
	max-width: 100%;
	padding: 0;
	overflow:auto;
  	scroll-snap-type:x mandatory;
	scroll-behavior:smooth;
  	overscroll-behavior-x:contain;
	padding-bottom: 1em;
	scrollbar-color:#000 #000 ;
	scrollbar-width:none;
	scroll-marker-group: after;
	gap: 0.5em;
}

main section:nth-of-type(3){
	margin-bottom: 3em;
	display: flex;
	flex-direction: column;
}

main section:nth-of-type(3) ul:first-of-type img {
	max-width: 100%;
	
}

main section:nth-of-type(3) ul:first-of-type li {
	flex-basis:48%;
  	flex-shrink:0;
	scroll-snap-align:center;
	list-style: none;
}

main section:nth-of-type(3) ul:first-of-type a {
	text-decoration: none;
	color: black;
	margin-left: 0.5em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bolder;
	font-size: 0.9em;
}

main section:nth-of-type(3) ul:first-of-type p {
	margin:0.2em;
	margin-left: 0.5em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: 100;
	font-size: 0.9em;
}

/*scrollbar*/
main section:nth-of-type(3) ul:first-of-type::scroll-marker-group {
	display:flex;
    justify-content:flex-start;
    align-content:center;
    flex-wrap:wrap;
	margin-left: 4em;
	margin-top: 1em;
}

main section:nth-of-type(3) ul:first-of-type li::scroll-marker {
	content: '' / attr(data-label);
    display: flex;
    width: 1.6em;
	height: 0.25em;
    aspect-ratio: 10;
    background-color:#00000059;
    transition: 80ms;
}

li::scroll-marker:target-current {
    background:#151415 !important;
  }

.productpagina section:nth-of-type(3) ul:first-of-type::scroll-marker-group {
	display:flex;
    justify-content: center;
    align-content:center;
    flex-wrap:wrap;
	margin: 0;
}

.productpagina section:nth-of-type(3) ul:first-of-type li::scroll-marker {
	content: '' / attr(data-label);
    display: flex;
    width: 1em;
	height: 0.25em;
    aspect-ratio: 10;
    background-color:#00000059;
    transition: 80ms;
}

/*section 3 shop nu knop*/
main section:nth-of-type(3) > a:last-of-type {
	border: 1px solid #abb0b4;
	border-radius: .5rem;
	padding: 0.8em;
	text-decoration: none;
	color: black;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	max-width: fit-content;
	align-self: flex-end;
	margin-right: 3.4em;
	margin-top: -1.5em;
	font-size: 0.9em;
}

/*section 4: Shop per categorie*/
main section:nth-of-type(4) h2:first-of-type {
	font-size: 1.3rem;
	margin-left: 0.9em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

main section:nth-of-type(4) ul:first-of-type {
	display: flex;
	max-width: 100%;
	gap:0.3em;
	padding: 0;
	margin-bottom: 4em;
	overflow:auto;
	margin-left: 0.6em;
  	scroll-snap-type:x mandatory;
	scroll-behavior:smooth;
  	overscroll-behavior-x:contain;
	scrollbar-width: none;
}

main section:nth-of-type(4) ul:first-of-type li {
	list-style: none;
	
}

main section:nth-of-type(4) ul:first-of-type a {
	color: black;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

main section:nth-of-type(4) ul:first-of-type img {
	width: 200px;
    height: 313px;
}

/*section 5: New Balance sneakers & kleding*/
main section:nth-of-type(5) h2:first-of-type {
	font-size: 3.5rem;
	font-family: "ITC Garamond W01 Book Cn";
	line-height: 3.75rem;
	margin-bottom: 0;
	letter-spacing: 0;
}

main section:nth-of-type(5) {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1.5rem
}

main section:nth-of-type(5) h3 {
	font-size: 2rem;
    line-height: 2.5rem;
	margin-bottom: 0;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bolder;
}

main section:nth-of-type(5) p {
	font-size: 1rem;
    line-height: 1.5rem;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

main section:nth-of-type(5) p:nth-of-type(3) {
	margin-bottom: 3em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}




/*Footer*/
footer div {
	width: 100%;
	background-color: #151415;
	color: white;
}

footer div p {
	font-size: 1em;
	width: 10em;
	margin-left: 2em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: 900;
	color: white;
}

footer div button {
	background-color: #b90020;
	color: #fff;
	border-color: #b90020;
	padding: 1.3em 1.6em;
	border-radius: 0.3em;
	font-size: 1em;
	transition: all .2s;
	text-decoration: none;
	margin-top: 1em;
	margin-left: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bolder;
	margin-bottom: 1em;
}

footer div ul {
	display: flex;
	list-style: none;
	padding: 0;
}

/*Footer dropdowns*/
footer details {
	padding: .25rem .5rem;
	padding-bottom: 2em;
}

footer details summary {
	font-size: 0.9em;
	font-weight: 700;
	display: flex;
  	justify-content: space-between;
	margin-left: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bolder;
}

/*dropdowns pijltjes*/
footer summary::after {
  	content: "";
  	width: 0.8em;
  	height: 0.8em;
  	border-left: 1.5px solid black;
  	border-bottom: 1.5px solid black;
  	transform: rotate(-45deg); 
	margin-right: 0.7em;

}

footer details[open] summary::after {
  transform: rotate(135deg);
}

footer details ul {
	list-style: none;
	padding: 0;
}

footer details li a {
	text-decoration: none;
	color: black;
	margin-left: 1em;
	font-size: 0.9em;
	line-height: 2rem;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

/*Footer Logo*/
footer > a:nth-of-type(1) img {
	width: 3.7em;
	height: 1.8em;	
	margin-left: 1em;
	margin-top: 3em;
}

/*Footer tekst*/
footer > p:first-of-type {
	line-height: 2em;
	font-size: 1em;
	font-weight: 300;
	margin-right: 1em;
	color: #151415;
	margin-left: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

/*Footer medialinks*/
footer > ul:first-of-type {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 2em;
	margin-bottom: 3.5em;
	margin-left: 1em;
	gap: 1em;
}

/*Footer regio wijzigen*/
footer ul:nth-of-type(2) {
	margin-left: 1em;
	padding: 0;
	display: flex;
	gap: 1em;
	list-style: none;
	margin-bottom: 3em;
}

footer ul:nth-of-type(2) a img {
	max-height: 1.25em;
	margin-bottom: -1em;
}

footer ul:nth-of-type(2) p {
	font-size: 0.8em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

/*Footer section*/
footer section {
	background-color: #fafafa;
	padding-top: 1em;
}

footer section h2:first-of-type {
	font-size: 1em;
	margin-left: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;

}

footer section a img {
	height: 1.5em;
	margin-left: 1em;
	margin-bottom: 3em;
}

footer section ul {
	list-style: none;
	padding: 0;
	margin-left: 1em;
	margin-bottom: 2em;
}

footer section li a {
	color: black;
	font-weight: 100;
	line-height: 2;
	font-size: 0.95em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

footer section p:first-of-type {
	font-size: 0.8em;
	margin-left: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}


/*Productpagina*/

/*breadcrumbs nav*/
.productpagina main section:first-of-type nav:first-of-type ul {
	margin-left: 1em;
	margin-top: -1em;
	gap:0.7em;
}

.productpagina main section:first-of-type nav:first-of-type a {
	margin: 0;
	color: #5c6268;
	font-size: 0.75em;
	font-weight: 100;
	max-width: fit-content;
}

.productpagina main section:first-of-type nav li:first-of-type::after {
  	content: " /";
	color: #5c6268;
	font-size: 0.75em;
	font-weight: 100;
	margin-left: 0.2em;
	
}

.productpagina main section:first-of-type nav li:nth-of-type(2)::after {
  	content: " /";
	color: #5c6268;
	font-size: 0.75em;
	font-weight: 100;
	margin-left: 0.2em;
	
}

.productpagina main section:first-of-type nav li:nth-of-type(3)::after {
	content: "•   Unisex";
	color: #5c6268;
	font-size: 0.75em;
	font-weight: 100;
	margin-left: 0.2em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	margin-left: 1em;
}


.productpagina h1 {
	font-size: 1.3em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	margin-left: 0.7em;
	margin-bottom: 0;
	margin-top: -0.3em;
}

/*Review sterren*/
.productpagina main section:first-of-type ul:first-of-type {
	display: flex;
	list-style: none;
	padding: 0;
	margin-left: 1em;
	margin-bottom: 0;
}

.productpagina main section:first-of-type ul:first-of-type li svg polygon {
	fill: rgb(233, 232, 232);
}

/*Schoen foto's*/
.productpagina main section:first-of-type ul:nth-of-type(2) {
	display:flex;
  	overflow:auto;
  	scroll-snap-type:x mandatory;
  	scroll-behavior:smooth;
  	overscroll-behavior-x:contain;
	list-style: none;
	margin: 0;
  	padding: 0;
	position:relative;
	scrollbar-width:none;
	scroll-marker-group: after;
	width: 100%;
}


.productpagina main section:first-of-type ul:nth-of-type(2) li {
	flex-basis:100%;
  	flex-shrink:0;
	position: relative;
	scroll-snap-align:center;
}


.productpagina main section:first-of-type ul:nth-of-type(2) img {
  	width: 100%;
	padding: 0;
}

/*scrollbar productpagina foto's*/
.productpagina main section:first-of-type ul:nth-of-type(2)::scroll-marker-group {
	display:flex;
	width: 100%;  
	
}

.productpagina main section:first-of-type ul:nth-of-type(2) li::scroll-marker {
	content: '' / attr(data-label);
    display: flex;
   	width: 100%;  
	height: 0.25em;
    aspect-ratio: 10;
    background-color:#00000059;
    transition: 80ms;
	margin-top: -0.3em;
}

.productpagina main section:first-of-type ul:nth-of-type(2) li::scroll-marker:target-current {
    background:#151415 !important;
  }


/*scrollbar productpagina foto's 2*/
.productpagina main section:first-of-type ul:nth-of-type(3)::scroll-marker-group {
	display:flex;
	width: 100%;  
	
}

.productpagina main section:first-of-type ul:nth-of-type(3) li::scroll-marker {
	content: '' / attr(data-label);
    display: flex;
   	width: 100%;  
	height: 0.25em;
    aspect-ratio: 10;
    background-color:#00000059;
    transition: 80ms;
	margin-top: -0.3em;
}

.productpagina main section:first-of-type ul:nth-of-type(3) li::scroll-marker:target-current {
    background:#151415 !important;
  }

  /* shop de look knop */
.productpagina main section:first-of-type ul:nth-of-type(2) li a  {
	color: #fff;
	background-color: rgba(21, 20, 21, .8);
	border-radius: 0.2em;
	padding: 0.9em 1.5em;
	max-width: fit-content;
	font-size: 0.75em;
	position:absolute;
  	top: 0.5em;
  	right: 0.5em;
	font-weight: 100;
	border: none;
	text-decoration: none;
}

.productpagina main section:first-of-type ul:nth-of-type(2) li a::after {
    content: '↓';
    position: absolute;
    right: 0.5em;
    top: 0.8em;
}

  /* shop de look knop 2*/
.productpagina main section:first-of-type ul:nth-of-type(3) li a  {
	color: #fff;
	background-color: rgba(21, 20, 21, .8);
	border-radius: 0.2em;
	padding: 0.9em 1.5em;
	max-width: fit-content;
	font-size: 0.75em;
	position:absolute;
  	top: 0.5em;
  	right: 0.5em;
	font-weight: 100;
	border: none;
	text-decoration: none;
}

.productpagina main section:first-of-type ul:nth-of-type(3) li a::after {
    content: '↓';
    position: absolute;
    right: 0.5em;
    top: 0.8em;
}


/*Schoen foto's 2*/
.productpagina main section:first-of-type ul:nth-of-type(3) {
	display:flex;
  	overflow:auto;
  	scroll-snap-type:x mandatory;
  	scroll-behavior:smooth;
  	overscroll-behavior-x:contain;
	list-style: none;
	margin: 0;
  	padding: 0;
	position:relative;
	scrollbar-width:none;
	scroll-marker-group: after;
	width: 100%;
	display: none;
}


.productpagina main section:first-of-type ul:nth-of-type(3) li {
	flex-basis:100%;
  	flex-shrink:0;
	position: relative;
	scroll-snap-align:center;
	
}

.productpagina main section:first-of-type ul:nth-of-type(3) img {
  	width: 100%;
	padding: 0;
}


/* Kleur kiezen */

form fieldset:first-of-type{
	border: none;
	padding: 0;
	margin-bottom: 1em;
}

form fieldset:first-of-type ul {
  	display: flex;              
	gap:0.4em;
}

form fieldset:first-of-type li {
  	width: 20%;          
  	height: auto;
  	cursor: pointer;
}

form fieldset:first-of-type img {
	border-radius: 0.4em;
	border: 2px solid transparent;
}


form fieldset:first-of-type input[type="radio"] {
  display: none;   
}

form fieldset:first-of-type input[type="radio"]:checked + img {
  border-color: black;
}

.productpagina form:first-of-type p {
	font-size: 0.85em;
	margin-bottom: 3em;
}

/* maat kiezen */
.productpagina form:first-of-type p:nth-of-type(2) {
	color: crimson;
	max-width: 70%;
	margin: 0;
	padding-left: 1em;
	display: none;
}

.productpagina main section:first-of-type form fieldset:nth-of-type(2) {
	border: none;
	padding: 0;
	margin-bottom: 2em;
}

.productpagina main section:first-of-type form fieldset:nth-of-type(2) legend {
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-size: 0.9em;
	margin-left: 0.5em;
}

.productpagina main section:first-of-type form fieldset:nth-of-type(2) ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.4em;
	padding: 0;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0.4em;
}

.productpagina main section form > button {
	border: none;
	background: none;
	text-decoration: underline;
	display: block; 
    margin-left: auto;
    margin-right: 0;
	margin-bottom: -1em;
}

.productpagina main section:first-of-type form fieldset:nth-of-type(2) input[type="radio"] {
	display: none;
}


.productpagina main section:first-of-type form fieldset:nth-of-type(2) li {
	border: 1px solid #bec0c3;
	padding: 0.7em 1em;
	border-radius: 0.3em;
	text-align: center;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-size: 0.9em;
	transition: border-color 0.4s ease, background-color 0.4s ease; 
}

.productpagina main section:first-of-type form fieldset:nth-of-type(2) li:has(input[type="radio"]:checked) {
	border: 2px solid #151415;
	background-color: #ebeced;
}

/*breedte*/ 
.productpagina main section:first-of-type h2 {
	font-size: 0.9em;
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: 100;
	margin-left: 1em;
}

.productpagina main section:first-of-type > button:nth-of-type(2) {
	border: 1px solid #bec0c3;
	background-color: white;
	padding: 0.9em 1.8em;
	border-radius: 0.3em;
	margin-left: 1em;
	margin-bottom: 3em;
}

.productpagina main section:first-of-type > button:nth-of-type(2) {
	border: 2px solid #151415;
	background-color: #ebeced;
}

/*Toevoegen aan winkelwagen button*/ 
.productpagina main section:first-of-type > button:nth-of-type(3) {
	color: white;
	border: 1px solid;
	background-color: #cf0a2c;
	border-color: #cf0a2c;
	display: inline-block;
	border-radius: .25rem;
	padding:1em;
	width: 90%;
	text-align: center;
	margin-left: 1em;
	margin-bottom: 3em;
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif;
	font-size: 1em;
	cursor: pointer;
}


/*div gratis verzending*/ 
.productpagina main section:first-of-type div {
	display: flex;
	background-color: rgba(211, 211, 211, 0.2);
	border-radius: 0.3em;
	padding: 0.6em;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
}

.productpagina main section:first-of-type div img {
	width: 1.8em;
	height: 1.8em;
}

.productpagina main section:first-of-type div p {
	color: #4f4f4f;
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif;
	font-size: 0.8em !important; 
	margin: 0;
	margin-left: 0.5em;
	
}

/*beschrijving*/
.productpagina main section:first-of-type details:first-of-type {
	border-top: 1px solid #bec0c3;
	margin-left: 1em;
	margin-right: 1em;
	border-bottom: 1px solid #bec0c3;
}

.productpagina main section:first-of-type details:first-of-type summary {
	margin-top: 0.6em;
	margin-left: 0.3em;
	margin-bottom: 0em;
	list-style: none;
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif;
	display: flex;
	justify-content: space-between;
}


/*productdetails*/
.productpagina main section:first-of-type details:nth-of-type(2) {
	margin-left: 1em;
	margin-right: 1em;
	border-bottom: 1px solid #bec0c3;
	margin-bottom: 0em;
}

.productpagina main section:first-of-type details:nth-of-type(2) summary {
	margin-top: 0.7em;
	list-style: none;
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: 200;
	display: flex;
	justify-content: space-between;
	margin-right: 0em;
}

.productpagina main section:first-of-type details:nth-of-type(2) p {
	font-weight: bolder;
	font-size: 0.9em;
}

.productpagina main section:first-of-type details:nth-of-type(2) p:nth-of-type(2) {
	display: list-item;
  	list-style-type: disc;   
  	margin-left: 1.5em;
	font-weight: 200;
	font-size: 0.9em;
}

.productpagina main section:first-of-type details:nth-of-type(2) p {
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif;
	font-size: 0.9em;
	font-weight: 200;
}

.productpagina main section:first-of-type details:nth-of-type(2) p:nth-of-type(4) {
	font-size: 0.9em;
	margin-left: 1.5em;
	display: list-item;
  	list-style-type: disc; 
}

.productpagina main section:first-of-type details:nth-of-type(2) p:nth-of-type(5) {
	display: list-item;
  	list-style-type: disc; 
	margin-left: 1.5em;
}

.productpagina main section:first-of-type details:nth-of-type(2) p:nth-of-type(6) {
	margin-left:0;
}

.productpagina main section:first-of-type a:last-of-type {
	background-color: white;
	padding: 0;
	color: black;
	border: none;
	text-decoration: underline;
	font-size: 0.8em;
	margin-left: 1.2em;
	text-align: left;
	font-weight: 500;
}

/*plusjes bij dropdowns*/
.productpagina main section:first-of-type summary::after {
	content: "+";
  	font-size: 1.7em;   
	margin-right: 0.5em; 
	margin: 0;      
	transition: 0.35s ease;
}

.productpagina main section:first-of-type details[open] summary::after {
    content: "−";  
}


/*maak de look af*/

/*voorkant 1e kaart*/
.productpagina main section:nth-of-type(2){
	margin: 2.9em;
}

.productpagina main section:nth-of-type(2) h2{
	margin-left: 0;
}

#maakdelookaf article {
	position: relative;
}

.eerstekaart {
	height: 23em;
	width: 100%;
	border-radius: 1em;
	background-color: rgb(236 236 236 / 54%);
  	transform-style: preserve-3d;
  	transform-origin: center right;
  	transition: transform 1s;
	box-shadow: 0 4px 10px rgba(0,0,0,0.15);
	z-index: 10;
}

.front {
	backface-visibility: hidden;
	
}

.front img:first-of-type {
	max-width: 6.5em;
	position: absolute;
	top: 2em;
	right: 2em;
	filter: drop-shadow(2.5px 2.5px 8px rgba(0, 0, 0, .3))
}

.front img:nth-of-type(3) {
	max-width: 6.5em;
	position: absolute;
	top: 2em;
	left: 2em;
	filter: drop-shadow(2.5px 2.5px 8px rgba(0, 0, 0, .3));
}

.front img:nth-of-type(2) {
	width: 3.7em;
	height: 11em;
	position: absolute;
	top: 6.5em;
	bottom: 1em;
	left: 6.3em;
	filter: drop-shadow(2.5px 2.5px 8px rgba(0, 0, 0, .3))
}

.front img:nth-of-type(4) {
	position: absolute;
	width: 4em;
	height: 4em;
	bottom: 6em;
	right: 2em;
	filter: drop-shadow(2.5px 2.5px 8px rgba(0, 0, 0, .3))
}

.front img:nth-of-type(5) {
	position: absolute;
	width: 4.6em;
	height: 2.7em;
	bottom: 5em;
	left: 1em;
	filter: drop-shadow(2.5px 2.5px 8px rgba(0, 0, 0, .3))
}

.front button {
	background-color: #fff;
	font-size: 1em;
	position: absolute;
	border-top: 1px solid #dddddd !important;
	border: white;
	padding: 0.5em 6em;
	bottom: 0;
	width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;    
    padding: 1.3em;  
}

/*pijltjes*/
.productpagina main section:nth-of-type(2) article > button:first-of-type {
	width:2.5em;
  	aspect-ratio:1;
  	margin:1em 0 0;
  	padding:0;
  	background-color:rgb(255, 255, 255);
  	border:none;
  	border-radius:20%;
  	font-size:1em;
  	box-shadow: 0 4px 10px rgba(0,0,0,0.15);
	right:clamp(1.5rem, 5vw, 2rem);
	position: absolute;
	top: 9em;
	right: -1.5em;
	z-index: 10;
	
}

.productpagina main section:nth-of-type(2) article > button:first-of-type svg {
	stroke: black;
  	stroke-width: 1;
	width: 0.5em;
}


.productpagina main section:nth-of-type(2) article > button:nth-of-type(2) svg {
	stroke: black;
  	stroke-width: 1;
	width: 0.5em;
	transform: rotate(180deg);
}

.productpagina main section:nth-of-type(2) article > button:nth-of-type(2) {
	left:clamp(1.5rem, 5vw, 2rem);
	width:2.5em;
  	aspect-ratio:1;
  	margin:1em 0 0;
  	padding:0;
  	background-color:rgb(255, 255, 255);
  	border:none;
  	border-radius:20%;
  	font-size:1em;
  	box-shadow: 0 4px 10px rgba(0,0,0,0.15);
	position: absolute;
	top: 9em;
	left: -1.5em;
	z-index: 10;
}

/*achterkant 1e kaart*/
.back {
	transform: rotateY(180deg);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	
}

.back h3 {
	font-size: 0.9em;
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: 200;
	background-color: #f4f4f4;
	display: block;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 9em;
}

.back button svg {
	max-width: 1em;
	font-weight: 700;
}

.back button {
	border: none;
	background-color: #f4f4f4;
	margin-left: auto;
	
}

.back h3,
.back button {
	display: inline-block;
}

.back ul {
	background-color: white;
	margin: 0 !important;
	display: grid;
	grid-template-columns: repeat(1, 1fr) !important;
	
}

.back li {
	display: grid;
  	grid-template-columns: 1fr;
 	align-items: start;
  	border-bottom: 1px solid #2121211f;
	margin-bottom: 0 !important;
}

.back li img {
	max-width: 6.5em;
	grid-column: 1;
	background-color: #f4f4f4;
	border-radius: 0.4em;
	padding: 0.8em;
	margin: 0.6em;
	grid-row: 1 / 3;
}

.back li:nth-of-type(3) img {
	max-width: 6em;
	padding: 0.4em 2em !important;
	
}

.back li a:first-of-type {
	text-decoration: none;
	grid-column: 2;   
  	display: block;
	margin-top: 1em;
}

.back li a:nth-of-type(2) {
	text-decoration: none;
	display: inline-block;
	border: 1px solid #2121211f;
	padding: 0.5em 0.7em;
	border-radius: 0.3em;
	width: fit-content;
  	grid-column: 2; 
}

.eerstekaart.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

/*recentbekeken*/
.productpagina main section:nth-of-type(4) h2 {
	font-size: 1.2em !important;
	font-weight: bolder;
}

.productpagina main section:nth-of-type(4) ul {
	display: flex;
	max-width: 100%;
	gap:0.3em;
	padding: 0;
	overflow:auto;
  	scroll-snap-type:x mandatory;
	scroll-behavior:smooth;
  	overscroll-behavior-x:contain;
	scrollbar-width: none;
}

.productpagina main section:nth-of-type(4) li {
	flex-basis:48%;
  	flex-shrink:0;
	scroll-snap-align:center;
	list-style: none;
}

.productpagina main section:nth-of-type(4) li img {
	width: 176px !important;
	height: 176px !important;
	
 
}

.productpagina main section:nth-of-type(4) a {
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bolder;
}

.productpagina main section:nth-of-type(4) p {
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: 200;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 0.9em;
}

/*beoordelingen*/
.productpagina main section:nth-of-type(5) h2 {
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif !important;
	font-size: 1.5em !important;
	font-weight: bolder !important;
}

.productpagina main section:nth-of-type(5) p {
	font-size: 0.8em !important;
	margin-top: 0;
	margin-left: 0.6em;
}

.productpagina main section:nth-of-type(5) ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin-left: 0.5em;
	gap: 0.5em;
	flex-direction: row-reverse;
  	justify-content: flex-start; 
  	width: fit-content;
}

.productpagina main section:nth-of-type(5) li button {
	border-color: rgb(207, 10, 44);
	padding: 0.8em 1.2em;
	border-radius: 0.4em;
	background-color: white;
	border: 1px solid rgb(207, 10, 44);
}

.productpagina main section:nth-of-type(5) li button:hover {
	background-color: rgb(207, 10, 44);
}

.productpagina main section:nth-of-type(5) li:hover ~ li button {
	background-color: rgb(207, 10, 44);
	
}
