/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: black;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

html, body {
	margin: 0;
	padding: 0;
}


/*header*/
header div {
	color: white;
	background-color: #151415;
	font-size: .8rem;
	padding-top: 1em;
	padding-bottom: 1.8em;
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

header {
	margin-bottom: 2em;
}

header img {
	height: 2em;
	
}

/*hamburgermenu*/
header nav {
	position:fixed;
  	top:0;
  	bottom:0;
  	right:0;
  	left:0;
  	background-color: white;
  	translate:-100% 0%;
	transform: translateY(-100%);   /* start boven scherm */
  	transition: transform 0.3s ease;
	z-index: 1;
}

header nav ul {
	border-top: 1px solid #c7cacd;
	margin-top: 1em;
}

header nav li {
	margin-top: 1.2em;
}


header nav a {
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

nav.toonMenu {
	translate: 0% 0%;
	transform: translateY(0); 
}

header nav button img[alt="terug knop"],
header nav h2,
header nav button img[alt="sluit menu"]:nth-of-type(2) {
	display: none;
}

/*hamburgersubmenu*/
nav ul:nth-of-type(2) {
	position:fixed;
  	top:0;
  	bottom:0;
  	right:0;
  	left:0;
  	background-color: white;
	translate:-100% 0%;
	transition: transform 0.3s ease;
	margin-top: 3.2em;
}

nav ul:nth-of-type(2).toonSubMenu {
	translate: 0% 0%;
	
}

header nav button {
	float: right;
	
}

header nav ul {
	list-style: none;
	padding: 0;
	margin-left: 1em;
}

header nav li {
	max-width: 95%;
    border: 1px solid #c7cacd;
	margin-bottom: 1em;
	border-radius: 0.3em;
	padding: 1em;
	margin-left: 0;
}

header nav a:first-of-type img{
	margin-top: 1em;
	margin-bottom: 0.5em;
	max-width: 3.5em;
	margin-left: 1em;
}

header nav li a {
	font-size: 1.5em;
	text-decoration: none;
	font-size: 1rem;
	color: black;
}


/*header icoontjes*/
header button {
	border: none;
	
	
}


/*main navigatie*/
main nav ul {
	display: flex;
    gap:0.5em;
	list-style: none;
	padding: 0;
	margin: 1em;
	overflow:auto;
  	scroll-behavior:smooth;
  	white-space: nowrap;
  	height: 2.5em;
  	scrollbar-width:auto;
  	scrollbar-color:#ccc #fff;
	margin-bottom: 1em;
}

main nav li {
	margin-top: 0.4em;
}

main nav a {
	text-decoration: none;
	border: .125rem solid #f2f2f3;
	background-color: #f2f2f3;
	padding: 0.30em 1em;
	gap:2em;
	color: black;
	border-radius: 4px;
	text-align: center;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-size: 0.9em;
	font-weight: 100;
}


/*section 1*/
main section:first-of-type img {
	max-width: 100%;
}

h1 {
	font-size: 3.5rem;
	font-family: "ITC Garamond W01 Book Cn";
	margin-left: 0.3em;
	font-weight: 200;
	margin-bottom: 1.5rem ;
	margin-top: 1.5rem ;
}

main section:first-of-type p {
	margin-left: 1em;
	font-size: 0.95em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	margin-top: 0;
}

main section:first-of-type a {
	text-decoration: none;
	color: white;
	border: 1px solid;
	background-color: #cf0a2c;
	display: inline-block;
	border-radius: .25rem;
	padding:1em;
	width: 90%;
	text-align: center;
	margin-left: 1em;
	margin-bottom: 3em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bold;
}


/*section 2: Best Sellers - eerste ul*/
main section:nth-of-type(2) h2:first-of-type {
	font-size: 1.5rem;
	margin-left: 0.7em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: 900;
}

main section:nth-of-type(2) ul:first-of-type {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:0.3em;
	list-style: none;
	margin-bottom: 4em;
	padding: 0;
	margin-left: 1em;
	margin-right: 0.7em;
}

main section:nth-of-type(2) ul:first-of-type li {
	margin-bottom: 2em;
}

main section:nth-of-type(2) a{
	color: black;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bolder;
	font-size: 0.9em;

}

main section:nth-of-type(2) > ul:first-of-type img {
	max-width: 97%;
	padding-bottom: .5rem;
}


/*section 2 tweede ul*/
main section:nth-of-type(2) ul:nth-of-type(2) {
	display: flex;
	max-width: 100%;
	gap:0.8em;
	padding: 0;
	margin-left: 1em;
	margin-bottom: 4em;
  	overflow:auto;
  	scrollbar-width: none;
}

main section:nth-of-type(2) ul:nth-of-type(2) li {
    max-width: 100%;
	list-style: none;
}

main section:nth-of-type(2) ul:nth-of-type(2) img {
	width: 11em;
	height: 16.5em;
}



/*section 3: Nieuw*/
main section:nth-of-type(3) h2:first-of-type {
	font-size: 1.2em;
	margin-left: 0.7em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

main section:nth-of-type(3) ul:first-of-type {
	display: flex;
	max-width: 100%;
	gap:0.3em;
	padding: 0;
	overflow:auto;
  	scroll-snap-type:x mandatory;
	scroll-behavior:smooth;
  	overscroll-behavior-x:contain;
	scrollbar-width: none;
}

main section:nth-of-type(3){
	margin-bottom: 3em;
}

main section:nth-of-type(3) ul:first-of-type img {
	max-width: 100%;
	
}

main section:nth-of-type(3) ul:first-of-type li {
	flex-basis:48%;
  	flex-shrink:0;
	scroll-snap-align:center;
	list-style: none;
	
}

main section:nth-of-type(3) ul:first-of-type a {
	text-decoration: none;
	color: black;
	margin-left: 0.5em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bolder;
	font-size: 0.9em;
}

main section:nth-of-type(3) ul:first-of-type p {
	margin:0.2em;
	margin-left: 0.5em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: 100;
	font-size: 0.9em;
}

/*section 3 shop nu knop*/
main section:nth-of-type(3) > a:last-of-type {
	border: 1px solid #abb0b4;
	border-radius: .5rem;
	padding: 0.8em;
	text-decoration: none;
	color: black;
	margin-top: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

/*section 4: Shop per categorie*/
main section:nth-of-type(4) h2:first-of-type {
	font-size: 1.3rem;
	margin-left: 0.9em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

main section:nth-of-type(4) ul:first-of-type {
	display: flex;
	max-width: 100%;
	gap:1em;
	padding: 0;
	margin-left: 1em;
	margin-bottom: 4em;
	overflow:auto;
  	scroll-snap-type:x mandatory;
	scroll-behavior:smooth;
  	overscroll-behavior-x:contain;
	scrollbar-width: none;
}

main section:nth-of-type(4) ul:first-of-type li {
	list-style: none;
	
}

main section:nth-of-type(4) ul:first-of-type a {
	color: black;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

main section:nth-of-type(4) ul:first-of-type img {
	width: 200px;
    height: 313px;
}

/*section 5: New Balance sneakers & kleding*/
main section:nth-of-type(5) h2:first-of-type {
	font-size: 3.5rem;
	font-family: "ITC Garamond W01 Book Cn";
	line-height: 3.75rem;
	margin-bottom: 0;
	letter-spacing: 0;
}

main section:nth-of-type(5) {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1.5rem
}

main section:nth-of-type(5) h3 {
	font-size: 2rem;
    line-height: 2.5rem;
	margin-bottom: 0;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bolder;
}

main section:nth-of-type(5) p {
	font-size: 1rem;
    line-height: 1.5rem;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

main section:nth-of-type(5) p:nth-of-type(3) {
	margin-bottom: 3em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}




/*Footer*/
footer div {
	width: 100%;
	background-color: #151415;
	color: white;
}

footer div p {
	font-size: 1em;
	width: 10em;
	margin-left: 2em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: 900;
}

footer div button {
	background-color: #b90020;
	color: #fff;
	border-color: #b90020;
	padding: 1.3em 1.6em;
	border-radius: 0.3em;
	font-size: 1em;
	transition: all .2s;
	text-decoration: none;
	margin-top: 1em;
	margin-left: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bolder;
	margin-bottom: 1em;
}

footer div ul {
	display: flex;
	list-style: none;
	padding: 0;
}

/*Footer dropdowns*/
footer details {
	padding: .25rem .5rem;
	padding-bottom: 2em;
}

footer details summary {
	font-size: 0.9em;
	font-weight: 700;
	display: flex;
  	justify-content: space-between;
	margin-left: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: bolder;
}

footer summary::after {
  	content: "";
  	width: 0.8em;
  	height: 0.8em;
  	border-left: 1.5px solid black;
  	border-bottom: 1.5px solid black;
  	transform: rotate(-45deg); 
	margin-right: 0.7em;

}

footer details[open] summary::after {
  transform: rotate(135deg);
}

footer details ul {
	list-style: none;
	padding: 0;
}

footer details li a {
	text-decoration: none;
	color: black;
	margin-left: 1em;
	font-size: 0.9em;
	line-height: 2rem;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

/*Footer Logo*/
footer > a:nth-of-type(1) img {
	width: 3.7em;
	height: 1.8em;	
	margin-left: 1em;
	margin-top: 3em;
}

/*Footer tekst*/
footer > p:first-of-type {
	line-height: 2em;
	font-size: 1em;
	font-weight: 300;
	margin-right: 1em;
	color: #151415;
	margin-left: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

/*Footer medialinks*/
footer > ul:first-of-type {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 2em;
	margin-bottom: 3.5em;
	margin-left: 1em;
	gap: 1em;
}

/*Footer regio wijzigen*/
footer ul:nth-of-type(2) {
	margin-left: 1em;
	padding: 0;
	display: flex;
	gap: 1em;
	list-style: none;
	margin-bottom: 3em;
}

footer ul:nth-of-type(2) a img {
	max-height: 1.25em;
	margin-bottom: -1em;
}

footer ul:nth-of-type(2) p {
	font-size: 0.8em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

/*Footer section*/
footer section {
	background-color: #fafafa;
	padding-top: 1em;
}

footer section p:first-of-type {
	font-size: 1em;
	margin-left: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;

}

footer section a img {
	height: 1.5em;
	margin-left: 1em;
	margin-bottom: 3em;
}

footer section ul {
	list-style: none;
	padding: 0;
	margin-left: 1em;
	margin-bottom: 2em;
}

footer section li a {
	color: black;
	font-weight: 100;
	line-height: 2;
	font-size: 0.95em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}

footer section p:nth-of-type(2) {
	font-size: 0.8em;
	margin-left: 1em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
}


/*Productpagina*/

.productpagina h1 {
	font-size: 1.3em;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	margin-left: 0.7em;
	margin-bottom: 0;
}

/*Review sterren*/
.productpagina ul:first-of-type {
	display: flex;
	list-style: none;
	padding: 0;
	margin-left: 1em;
	margin-bottom: 0;
}

/*Schoen foto's*/
.productpagina:first-of-type ul:nth-of-type(2) {
	display:flex;
  	overflow:auto;
  	scroll-snap-type:x mandatory;
  	scroll-behavior:smooth;
  	overscroll-behavior-x:contain;
	list-style: none;
	margin: 0;
  	padding: 0;

}

.productpagina ul:nth-of-type(2) button {
	border: none;
	width: 100%;
}


.productpagina ul:nth-of-type(2) li {
	flex-basis:100%;
  	flex-shrink:0;
}

.productpagina ul:nth-of-type(2) img {
  	width: 100%;
}


/* Kleur kiezen */
form fieldset:first-of-type {
  	display: flex;              
	border: none;
}

form fieldset:first-of-type img {
  	width: 40%;          
  	height: auto;
  	cursor: pointer;
	border-radius: 0.3em;
}

form fieldset:first-of-type input[type="radio"] {
  display: none;   
}

/* maat kiezen */
.productpagina form fieldset:nth-of-type(2) {
	border: none;
	padding: 0;
	margin-bottom: 2em;
}

.productpagina form fieldset:nth-of-type(2) ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.4em;
	padding: 0;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.productpagina form fieldset:nth-of-type(2) input[type="radio"] {
	display: none;
}


.productpagina form fieldset:nth-of-type(2) li {
	border: 1px solid #bec0c3;
	padding: 0.7em 1em;
	border-radius: 0.3em;
	text-align: center;
	font-family: "Proxima Nova W01 Regular", Arial, sans-serif;
	font-size: 0.9em;
}

/*breedte*/ 
.productpagina h2 {
	font-size: 0.9em;
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif;
	font-weight: 100;
	margin-left: 1em;
}

.productpagina > button:first-of-type {
	border: 1px solid #bec0c3;
	background-color: white;
	padding: 0.9em 1.8em;
	border-radius: 0.3em;
	margin-left: 1em;
	margin-bottom: 3em;
}

/*Toevoegen aan winkelwagen button*/ 
.productpagina > button:nth-of-type(2) {
	color: white;
	border: 1px solid;
	background-color: #cf0a2c;
	border-color: #cf0a2c;
	display: inline-block;
	border-radius: .25rem;
	padding:1em;
	width: 90%;
	text-align: center;
	margin-left: 1em;
	margin-bottom: 3em;
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif;
	font-size: 1em;
	cursor: pointer;
}


/*div gratis verzending*/ 
.productpagina div {
	display: flex;
	background-color: rgba(211, 211, 211, 0.2);
	border-radius: 0.3em;
	padding: 0.6em;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

.productpagina div img {
	width: 1.8em;
	height: 1.8em;
}

.productpagina div p {
	color: #4f4f4f;
	font-family:"Proxima Nova W01 Regular", Arial, sans-serif;
	font-size: 0.8em !important; 
	margin: 0;
	
}